<h2 id="header">Filter Selection</h2>

<div id="text-container">
  <p id="p1">This side navigation section allows you to select any amount of possible categories to filter by.</p>
  <p id="p2">For example: If you want to select ski-areas in a certain country and provide the minimum snow-height, select the Country and Minimum Snow Height checkboxes and hit "Filter Selection".</p>
  <p id="p3">Next, the filter selection is going to minimize and a stepper above the table of ski areas is provided, which guides you through you selected properties.</p>
  <p id="p4">At any time you can hit the "Reset Selection" button in side navigation or the "Reset" button in the Stepper to restart the process.</p>
</div>

<div id="button-container">
  <button mat-raised-button color="accent" (click)="onNoClick()">Got it</button>

</div>
