<div class="home-container">
  <h1>Bergfex - Skiarea Selector: Prototyp</h1>

  <div class="home-text">
    <p>This prototype simulates the ski-area selector option from the original <a href="https://www.bergfex.at" target="_blank">Bergfex.at</a> website, as well as the rough layout.</p>
    <p>This prototype is not yet optimized for mobile view, but only for desktop usage with a horizontal screen size of 1024px or higher.</p>
    <p style="margin-top: 24px;">To access the ski-area selector prototype navigate to "Winter" -> "Ski-Areas" in the header or click <a routerLink="/ski-areas">here</a>.</p>
  </div>
</div>
